emacs/projects
emacs/eln-cache
emacs/transient
emacs/auto-save-list/
emacs/elpa/
emacs/tramp
emacs/diary
diary

# Ollama Buddy
ollama-buddy-presets/
ollama-buddy-sessions/
ollama-buddy-user-prompts/

# ChatGPT Shell
.chatgpt-shell.el
